In [5]:
import pandas as pd

table = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]

stocks = df[['Symbol','Security']]

    Symbol            Security
0      MMM                  3M
1      AOS         A. O. Smith
2      ABT              Abbott
3     ABBV              AbbVie
4     ABMD             Abiomed
..     ...                 ...
500    YUM         Yum! Brands
501   ZBRA  Zebra Technologies
502    ZBH       Zimmer Biomet
503   ZION       Zions Bancorp
504    ZTS              Zoetis

[505 rows x 2 columns]